.loading {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  margin: auto;
}

.loading > div {
  width: 5vmax;
  height: 5vmax;
  border-bottom: 5px solid rgba(0, 0, 0, 0.719);

  border-radius: 50%;

  animation: loadingRotate 800ms linear infinite;
}

@keyframes loadingRotate {
  to {
    transform: rotateZ(-360deg);
  }
}
