@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  --first-color: #004666;
  --first-color-alt: #0078ae;
  --first-color-footer: #00628f;
  --title-color: #393939;
  --text-color: #707070;
  --text-color-light: #a6a6a6;
  --body-color: #f2f4f8;
  --container-color: #ffffff;
  --white-color: #ffffff;
  --black-color: #020000;
  --blue-text: #0ca3ea;
  --red: #e31837;
  --red-dark: #aa1934;
  --grey-border: #dee2e6;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========== BASE ==========*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.btn {
  height: 2.5rem;
  min-width: 10rem;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 0.5rem;
  line-height: 2.5rem;
  color: var(--white-color);
  background: var(--first-color-alt);
  cursor: pointer;
}

/*========== LAYOUT ==========*/
.bd-container {
  max-width: 1300px;
  width: calc(100% - 2rem);
  margin: auto;
}

.cart-container {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin: auto;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--first-color);
}

.l-main {
  margin-top: calc(2.5rem + var(--header-height));
}

.l-main > div {
  margin-top: 2.5rem;
}

/*========== MEDIA QUERIES ==========*/
@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
}

@media screen and (min-width: 960px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
}
